<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Output Trace Log" value="0" />
	</appSettings>
	<system.runtime.remoting>
		<application name="MachineWatch">
			<lifetime leaseTime="3M" sponsorshipTimeout="2M" renewOnCallTime="1M" leaseManagerPollTime="10S" />
			<channels>
				<channel ref="tcp" port="8086">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="off" />
	</system.runtime.remoting>
</configuration>
