name: CI

on:
  push:
    tags-ignore:
      - "v*"
      - "insightapi-*"
    branches-ignore:
      - main
      - release/*

jobs:
  server:
    runs-on: windows-2022
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Server TestSuite
        run: |
          tzutil /s "Pacific Standard Time"
          dotnet test server/test --collect:"XPlat Code Coverage"

      - name: Upload Code Coverage
        uses: codecov/codecov-action@v1
        with:
          directory: server/test/TestResults
          flags: server-unittests

      - name: API Build
        run: dotnet build client/csharp-api

      - name: Reverse proxy build
        run: dotnet build server/reverse-proxy

  client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "17"

      - name: Enable corepack
        run: corepack enable

      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install client deps
        run: pnpm --dir client/insight install --frozen-lockfile
      - name: Client Test Suite
        run: pnpm --dir client/insight run test
      - name: Client Main Build
        run: pnpm --dir client/insight run build

      - name: Build Backup-Viewer
        run: npm ci --no-optional && npm run build-background
        working-directory: client/backup-viewer

      - name: Cleanup pnpm cache
        run: pnpm store prune
