name: release-insight-api

on:
  push:
    tags:
      - insightapi-*

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2

      - name: Build Insight API
        shell: pwsh
        env:
          GITHUB_REF: ${{ github.ref }}
        run: |
          $VER = $ENV:GITHUB_REF.Substring(21) # Remove refs/tags/insightapi-
          dotnet pack -c Release --include-symbols /p:Version="$VER" client/csharp-api

      - name: Publish Insight API
        run: dotnet nuget push -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json client\csharp-api\bin\Release\*.nupkg
